<template lang="html">
  <section class="section">

    <div class="container">
      <div class="heading has-text-centered">
        <h1 class="title is-1">ประกาศผล</h1>
        <h1 class="title">Developer</h1>
        <p>รายชื่อผู้ที่ผ่านเข้ารอบสุดท้าย (Draft Day) วันที่ 3 มี.ค. 2561</p>
        <p>ให้ผู้ผ่านเข้ารอบมาถึงสถานที่ก่อนเวลาที่กำหนดอย่างน้อย 30 นาที</p>
      </div>
      <br>
      <br>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <table class="table">
            <thead>
              <tr>
                <th>หมายเลข</th>
                <th>ชื่อ</th>
                <th>เวลาลงทะเบียน</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(student, index) in list">
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.time }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
let moment = require('moment')
let json = require('../data/2018/draft-developer.json')
let room = 3

export default {
  name: 'developer',
  data () {
    return {
      list: json,
      Draftlist: []
    }
  },
  methods: {
    getTime (index) {
      let start = moment("900", "hmm").add(12 * Math.floor(index/room), 'm')
      let end = moment("900", "hmm").add(12 * (Math.floor(index/room) + 1), 'm')

      if (index >= 45) {
        start.add(60, 'm')
        end.add(60, 'm')
      }

      return start.format("HH:mm") + ' - ' + end.format("HH:mm")
    },
    getDraftpass (data) {
      let flag = false
      for (var i = 0; i < this.Draftlist.length; i++) {
        if (this.Draftlist[i] == data) {
          flag = true
        }
      }
      return flag
    }
  }
}
</script>

<style lang="css">
</style>
