<template lang="html">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          The Internship 2018
        </p>
        <p>
          <a class="icon"  href="mailto:hi@theinternship.io">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          &nbsp;
          <a class="icon" target="_blank" href="https://www.facebook.com/theinternshipio/">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
.icon {
  color: rgba(26,142,250,1) !important;
}
p {
  font-family: rsu-bold;
}
</style>
