<template lang="html">
  <section class="section" id="section-what">
    <br>
    <br>
    <div class="container has-text-centered">
      <div class="heading has-text-centered">
        <h1 class="title">The Internship Program</h1>
        <h1 class="title">คืออะไร</h1>
      </div>
      <br>
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <p>
            The Internship เป็นโปรแกรมฝึกงานแห่งแรกที่มุ่งเน้นการสร้างผู้ประกอบการ นิสิตนักศึกษาที่ผ่านการคัดเลือกเข้าร่วมโครงการจะได้เพิ่มประสบการณ์ผ่านการทำงานจริงกับบริษัท Startup ชั้นนำของประเทศ และจะได้เรียนรู้หัวใจหลักของการเป็นผู้ประกอบการผ่านการทำงานตามตำแหน่งงานที่ตนเองถนัดไม่ว่าจะเป็น Developer, Designer หรือ Business สิ่งที่ทำให้ The Internship ต่างจากโปรแกรมการฝึกงานของที่อื่นคือ เป็นโครงการที่ผู้สมัครจะได้ทำการออกแบบจริง เขียนโปรแกรมจริง มีการได้รับโจทย์ที่ Startup จะต้องเจอระหว่างการทำงานเพื่อนำไปประยุกต์และสร้างสรรค์ผลงานที่สามารถนำไปใช้งานได้จริงโดยมีผู้ให้คำแนะนำเป็น Mentor จากบริษัท Startup ชั้นนำของประเทศ นอกจากนี้ผู้เข้าร่วมโครงการจะมีโอกาสได้สัมผัสประสบการณ์การทำงานร่วมกันเป็นทีมกับทีมงาน ได้สานสัมพันธ์กับเพื่อนใหม่ต่างสถาบันที่เข้าร่วมโครงการ ได้สร้างผลงาน และเพิ่มโอกาสในการว่าจ้างเป็นพนักงานประจำให้กับตนเองอีกด้วย
          </p>
        </div>
      </div>
      <div class="heading has-text-centered">
        <br><br><br><br>
        <h1 class="title">สนับสนุนโดย</h1>
        <br><br>
      </div>
      <div class="columns">
        <div class="column is-4">
          <img src="photos/sponsor-logo-1-most.jpg" height="180" alt="MOST">
        </div>
        <div class="column is-4">
          <img src="photos/sponsor-logo-2-nia.jpg" alt="NIA">
        </div>
        <div class="column is-4">
          <img src="photos/sponsor-logo-3-startup-thailand.jpg" alt="Startup Thailand">
        </div>
      </div>
    </div>
    <br>
    <br>
  </section>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
p {
  font-size: 18px;
  text-align: justify;
}
h1 {
  font-family:rsu-bold;
}
</style>
