<template lang="html">
  <section class="section">
    <br>
    <br>
    <div class="container">
      <div class="heading has-text-centered">
        <h1 class="title">กำหนดการ</h1>
      </div>
      <br>
      <br>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <table class="table">
            <thead>
              <tr>
                <th>กิจกรรม</th>
                <th>วันที่</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>รับสมัครออนไลน์</td>
                <td>15 ม.ค. – 31 ม.ค. 2561</td>
                <!-- <td>www.theinternship.io</td> -->
              </tr>
              <tr>
                <td>ประกาศผลผู้เข้ารอบสัมภาษณ์</td>
                <td>8 ก.พ. 2561</td>
                <!-- <td>www.theinternship.io</td> -->
              </tr>
              <tr>
                <td>สอบสัมภาษณ์</td>
                <td>17 ก.พ. 2561</td>
                <!-- <td>สถานที่จะแจ้งให้ทราบในภายหลัง</td> -->
              </tr>
              <tr>
                <td>ประกาศผลผู้ผ่านสัมภาษณ์</td>
                <td>21 ก.พ. 2561</td>
                <!-- <td>สถานที่จะแจ้งให้ทราบในภายหลัง</td> -->
              </tr>
              <tr>
                <td>Draft day</td>
                <td>3 มี.ค. 2561</td>
                <!-- <td></td> -->
              </tr>
              <tr>
                <td>Orientation day</td>
                <td>28 เม.ย. 2561</td>
                <!-- <td></td> -->
              </tr>
              <tr>
                <td>เริ่มฝึกงาน</td>
                <td>14 พ.ค. 2561 เป็นต้นไป</td>
                <!-- <td></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <br>
  </section>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
h1.title {
  font-family: rsu-bold;
}
table {
  font-size: 18px;
}
</style>
