<template lang="html">
  <section class="section">
    <br>
    <br>
    <div class="container">
      <div class="heading has-text-centered">
        <h1 class="title">ใครมาบ้าง / Participating Startups</h1>
      </div>
      <br>
      <br>
      <br>
      <div class="columns is-multiline">

        <div class="column is-one-third-desktop is-half-tablet " v-for="list in lists">
          <div class="partner">
            <div class="logo-box">
              <div class="triangle" :style="'border-top-color:' + list.color"></div>
              <a :href="list.url" @click="openLink(list.url)" target="_blank">
                <img :src="list.img_src" :alt="list.url" class="center-logos">
              </a>
            </div>
            <div class="box-textbox">
              <span class="list-company" v-html="list.description"></span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>
    <br>
  </section>
</template>

<script>
export default {
  methods: {
    openLink (url) {
      if (process.BROWSER_BUILD && process.env.NODE_ENV === 'production') {
        fbq('track', 'ViewContent', {
          content_name: url
        })
      }
    }
  },
  data () {
    return {
        lists: [
          {
            color: '#000000;',
            url: 'http://fireoneone.com/',
            img_src: 'fire-one-one.png',
            description: 'Fire one one ด้วยหลักการที่นำ ดีไซน์ และ เทคโนโลยี มาปรับใช้กับยุคเศรษฐกิจใหม่ ที่ผ่านมาไฟร์วันวันได้ช่วยยกระดับแนวคิดและเทคโนโลยีที่ขับเคลื่อนธุรกิจของลูกค้าในหลายๆอุตสาหกรรมจนพลิกเกมจากผู้เล่นสู่เป็นผู้นำในวงการ อย่างเช่น แสนสิริ ที่มียอดขายที่เพิ่มขึ้นสู่ 42,000พันล้านบาทในปี 2012 และกลายมาเป็นอันดับ 1 ในกลุ่มเทคโนโลยีของอุตสาหกรรม อสังหาริมทรัพย์ หลักการใช้ Design + Technology + Brand ยังสามารถช่วยสร้างความอยู่รอดและสร้างธุรกิจใหม่ให้กับกลุ่มธุรกิจเดิมได้อย่างต่อเนื่อง',
            googlemaps_link: 'https://goo.gl/maps/q8xWABAARNC2'
          },
          {
            color: '#b3363f;',
            url: 'https://www.code-app.com/',
            img_src: 'code-app.png',
            description: 'Code App ถูกก่อตั้งขึ้นมาเพื่อเป็น “สนามเด็กเล่นของคนเขียนโค้ด” ที่ coders และ geeks มาทำงานด้วยความสนุกกับการสร้างสรรค์ซอฟต์แวร์แบบใส่ใจทุกรายละเอียด ตลอด 5 ปีที่ผ่านมา ที่เราได้ช่วยลูกค้าและพาร์ทเนอร์ของเราปรับตัวเข้าสู่ยุคดิจิทัลยุคสารสนเทศ ยุคของอัลกอริทึม ... เรากำลังเปลี่ยนโลก ทีละแอปพลิเคชั่น',
            googlemaps_link: 'https://goo.gl/maps/bcrKCh3wQ5q'
          },
          {
            color: '#333333;',
            url: 'http://www.fiveloop.co/',
            img_src: 'fiveloop.png',
            description: 'Fiveloop คือสมาร์ทแพลตฟอร์มสำหรับการจ้างงานนักพัฒนาซอฟต์แวร์โดยให้นักพัฒนาซอฟต์แวร์โชว์ความสามารถทางด้านเทคนิคในการพิสูจน์ตัวเองเพื่อโอกาสในการได้ทำงานกับบริษัทชั้นนำด้านเทคโนโลยีในเอเชีย',
            googlemaps_link: 'https://goo.gl/maps/72XKWDeKPfM2'
          },
          {
            color: '#74c9de;',
            url: 'http://www.rgb72.com/',
            img_src: 'rgb72.png',
            description: 'rgb72 คิดค้น สร้างสรรค์ ให้คำแนะนำด้วยความเข้าใจ คือหัวใจของการทำงานระหว่างเราและลูกค้าตลอดระยะเวลามากกว่า 10 ปีที่ผ่านมา ความสำเร็จของลูกค้าคือผลลัพธ์จากกระบวนการที่เราสร้างสรรค์ให้ลูกค้าเสมอ ๆวันนี้เราได้รรับความไว้วางใจจากบริษัทขั้นนำในประเทศไทยเพื่อให้คำแนะนำและให้บริการ Creative Strategy, ออกแบบ Website และ Mobile Application งาน ​Coding ไปจนถึง Online Marketing ...ยินดีต้อนรับสู่ rgb72, where Digitally Possible.',
            googlemaps_link: 'https://goo.gl/maps/tNmL9p6gWz32'
          },
          {
            color: '#d32053;',
            url: 'http://pollios.com/',
            img_src: 'pollios.png',
            description: 'Pollios (โพลลิออส, แอป Poll บนระบบ iOS) โมบายแอปพลิเคชั่นและแพลทฟอร์มสำหรับสร้างและแชร์โพลไปยังกลุ่มคนที่ใช่เพื่อได้คำตอบและความเห็นผ่านการโหวตจากกลุ่มคนที่เราแคร์ พวกเราเชื่อในความแตกต่างและความเห็นต่าง ทุกเสียงมีค่าเสมอ แม้จะเป็นส่วนน้อยเพียงไหนก็ตามพวกเราที่ Pollios ตั้งใจจะสร้างแพลทฟอร์มที่ทุกการโหวตมีค่า และทุกเสียงถูกได้ยิน',
            googlemaps_link: ''
          },
          {
            color: '#ff672b;',
            url: 'https://www.wongnai.com/',
            img_src: 'wongnai.png',
            description: 'Wongnai เว็บไซต์และแอพพลิเคชั่นที่ให้บริการค้นหาร้านอาหารพร้อมรีวิวจากผู้ใช้จริง อันดับหนึ่งในประเทศไทย และยังมีบริการสั่งอาหารเดลิเวอรี LINE MAN, ค้นหาสูตรอาหาร, ค้นหาร้านเสริมสวยและสปา นอกจากนี้เว็บไซต์ Blognone และ BrandInside ก็เป็นส่วนหนึ่งของเราด้วย โดยทั้งหมดนี้ก็เพื่อตอบโจทย์ความต้องการด้าน Lifestyle ของคนไทย ตาม Vision ของบริษัทที่ว่า To Connect People to Good Stuff เราจะเชื่อมต่อสิ่งดีๆ ให้กับทุกคน!',
            googlemaps_link: 'https://goo.gl/maps/wnku5YUKHDt'
          },
          {
            color: '#FF672B;',
            url: 'http://www.sellsuki.co.th/',
            img_src: 'sellsuki.png',
            description: 'Sellsuki ระบบบริหารร้านค้าออนไลน์ที่ถูกออกแบบมาสำหรับการค้าขายในยุคของการสื่อสารผ่านแชทและการค้าขายผ่านหลายช่องทางทั้งทางเว็บไซต์ โซเชียล หรือหน้าร้าน<br><br>เรามีความเชื่อว่า<br>1) เทคโนโลยีจะทำให้อนาคตของการค้าขายกลับมามีความเป็นมนุษย์<br>2) การใช้แนวคิดทางธุรกิจ เทคโนโลยีและดีไซน์ ไปพร้อมๆกันจะนำไปสู่การออกแบบที่ถาวร<br>3) ผู้ประกอบการควรมีความอิสระในการประกอบการ และไม่ควรใช้เวลาอยู่กับงานที่ซ้ำซากและจำเจ',
            googlemaps_link: 'https://goo.gl/maps/r2Zk7iMvuk32'
          },
          {
            color: '#00abe5;',
            url: 'https://www.billme.co.th',
            img_src: 'bill-me.png',
            description: 'Billme (บิลมี) แพลทฟอร์มสำหรับรับและส่งดิจิทัลบิล (ใบเรียกเก็บเงินดิจัทัล) พร้อมด้วยโมบายแอปพลิเคชั่น Billme ทำให้การรับและส่งบิล การขอให้จ่ายเงินเป็นเรื่องง่ายสำหรับทุกคน ไม่ว่าจะเป็นการส่งคำขอให้เพื่อนจ่ายเงินเรา เพื่อเตือนตัวเองในการจ่ายบิล หรือเพื่อรับบิลและใบเสร็จรับเงินจากร้านค้าและบริการต่างๆ เรามุ่งมั่นที่จะเป็นส่วนสำคัญในวัฒนธรรมการเงินดิจิทัล',
            googlemaps_link: 'https://goo.gl/maps/1YtBU9gLR5K2'
          },
          {
            color: '#26b9ae;',
            url: 'https://www.cookly.me',
            img_src: 'cookly.png',
            description: 'Cookly เป็นแพลตฟอร์มจองคอร์สทำอาหาร เรานำคนรักอาหารและผู้เชี่ยวชาญด้านอาหารร่วมสนุกกับการเรียนทำอาหารที่เปี่ยมคุณภาพ เราได้ทำหน้าที่ส่งผ่านความสนุกและอร่อยแก่นักท่องเที่ยวจากกว่า 90 + ประเทศ และคอร์สทำอาหารมากกว่า 400 คอร์สใน 14 ประเทศทั่วโลก ถ้าคุณชอบการท่องเที่ยว รักการทำอาหาร อยากเป็นส่วนหนึ่งของ Startup ที่ตอบโจทย์ไลฟ์สไตล์ของคนรุ่นใหม่ทั่วโลก มาเรียนรู้ไปด้วยกันกับ Cookly : Cook the world',
            googlemaps_link: 'https://goo.gl/maps/3r5MZ3VnERM2'
          },
          {
            color: '#fa7500;',
            url: 'https://www.horganice.in.th/',
            img_src: 'horganice.png',
            description: 'Horganice คือธุรกิจสตาร์ทอัพที่พัฒนาแอพลิเคชั่นตัวกลางในการเชื่อมต่อระหว่างผู้ประกอบการหอพัก อพาร์ทเม้นท์ และผู้เช่าที่มาพร้อมกับระบบบริหารจัดการในรูปแบบออนไลน์ ที่สามารถจัดการเรื่องทำบิลค่าเช่าห้อง การจ่ายเงินค่าเช่าห้อง การรายงานผลประกอบการ',
            googlemaps_link: 'https://goo.gl/maps/3jwX86tcUe52'
          },
          {
            color: '#8cc63f;',
            url: 'https://www.itax.in.th/',
            img_src: 'i-tax.png',
            description: 'iTAX เชื่อว่ากฎหมายที่ซับซ้อนสามารถทำให้ง่ายได้เพื่อเป้าหมายสำคัญ คือ เพื่อช่วยให้ผู้คนทำภาษีได้อย่างถูกต้องได้เงินคืนภาษีสูงสุด วิถีของเราคือการทำโซลูชั่นภาษีที่ใช้งานง่ายและเหมาะสมกับบุคคลเช่น ระบบเตรียมภาษีผ่านคำถามง่ายๆ, ระบบวางแผนภาษีอัตโนมัติที่คัดเลือกให้เหมาะสมเฉพาะบุคคล หรือแม้แต่ฐานข้อมูลเปรียบเทียบตัวเลือกลดหย่อนภาษีในที่เดียวนอกจากนี้ iTAX จะเริ่มจัดการภาษีเงินเดือนพนักงานแบบอัตโนมัติให้กับฝ่ายบุคคล ลูกค้าองค์กรและพนักงาน และนั่นทำให้ iTAX สร้างสรรค์บริการภาษีที่ใช้งานง่ายในประเทศไทย',
            googlemaps_link: 'https://goo.gl/maps/wbmkaUznmWn'
          },
          {
            color: '#00add8;',
            url: 'https://peakengine.com',
            img_src: 'peakengine.png',
            description: 'Peak ธุรกิจจำนวนไม่น้อยต้องปิดตัวลงไปเพราะขาดการจัดการข้อมูลบัญชี การเงิน และภาษีที่ดีเพียงพอ เนื่องจากเรื่องดังกล่าวเป็นเรื่องที่ยาก ใช้เวลาเยอะ และน่าเบื่อ เราเห็นปัญหาดังกล่าวจึงได้พัฒนา PEAK ขึ้นมาเพื่อเป็นนักบัญชีเสมือนสำหรับธุรกิจSMEs ที่ช่วยจัดการเรื่อง บัญชี การเงิน และภาษีให้กับธุรกิจ เราไม่ได้สร้างแค่โปรแกรม แต่เรากำลังสร้างวิธีการดำเนินธุรกิจใหม่ ที่คนในยุคต่อไปจะต้องสงสัยว่าคนยุคก่อน PEAK ทำธุรกิจกันได้อย่างไร',
            googlemaps_link: 'https://goo.gl/maps/D48ozq5yhh12'
          },
          {
            color: '#040707;',
            url: 'http://www.jeban.com/',
            img_src: 'jeban.png',
            description: 'Jeban.com (จีบัน) ออนไลน์คอมมูนิตี้อันดับหนึ่งที่เพียบพร้อมไปด้วย เรื่องราวของความสวยงาม และ มิตรภาพ ของสาวๆ มีสไตล์ทุกวัย จากชื่อล็อกอิน Jeban ที่เขียนแนะนำวิธีการแต่งหน้าเชิง How to เปิดเผยหน้าสดจนกระทั่งเสร็จสวยงามได้รับความนิยมเป็นอย่างมาก จึงกลายเป็น www.jeban.com ขึ้นอย่างเป็นทางการในปี 2550 เพื่อสร้างออนไลน์คอมมูนิตี้สำหรับผู้หญิง ในการที่จะแลกเปลี่ยนเรื่องราวต่างๆ ทั้งเคล็ดลับการแต่งหน้า แต่งตัว ความสวยงาม ความงาม ตลอดจนการพูดคุยเรื่องราวต่างๆตามประสาผู้หญิง<br>Jeban.com มีความตั้งใจที่จะเป็นคอมมูนิตี้ที่สร้างแรงบันดาลใจให้แก่ผู้หญิงยุคใหม่ ให้มีความมั่นใจ ที่จะลุกขึ้นมาเปลี่ยนแปลงตัวเอง​ และกลายเป็นแรงบันดาลใจส่งผ่านถึงคนอื่นๆ ต่อไป',
            googlemaps_link: 'https://goo.gl/maps/aUWUbR1DxWq'
          },
          {
            color: '#c8273f;',
            url: 'http://www.pirsquare.net/',
            img_src: 'pi-r-2.png',
            description: 'Pi R Square เป็นทีมพัฒนาผลงานด้าน เกมส์, เว็บไซต์ และ แอปพลิเคชั่น ในความเชื่อที่ใช้เทคโนโลยี และการออกแบบให้เข้ากันอย่างลงตัว เราเป็นทีมที่มีประสบการณ์จาก Silicon Valley และพัฒนางานมากมายให้กับบริษัทชั้นนำต่างๆ ในไทย รวมถึงพัฒนา Start Up และเป็นที่ปรึกษาในหลายโปรเจ็ค เราเป็นทีมที่คำนึงถึง User Experience เป็นสำคัญ ในการสร้างสรรค์ผลงานใหม่ๆ อยู่ตลอดเวลา',
            googlemaps_link: 'https://goo.gl/maps/j5kUpgRDnrj'
          },
          {
            color: '#000000;',
            url: 'http://www.thebitstudio.com/',
            img_src: 'bit-studio.png',
            description: 'Bit Studio เป็นกลุ่ม Creative Technologist สัญชาติไทยที่นำเทคโนโลยีและศิลปะมาผสมผสานกันเพื่อสร้างสรรค์ประสบการณ์ที่สนุกและน่าสนใจในรูปแบบของInteractive Installation โดยใช้เทคโนโลยีหลากหลาย เช่น Machine Learning, Computer Vision, Computer Graphics เป็นต้น',
            googlemaps_link: 'https://goo.gl/maps/3TRjHXPbtyS2'
          },
          {
            color: '#e77f27;',
            url: 'http://marketanyware.com/th/index.html',
            img_src: 'market-anyware.png',
            description: 'Market Anyware บริษัทวิจัยและพัฒนาเทคโนโลยี Financial Intelligence เป็นการนำเทคโนโลยียุคใหม่อย่าง Big Data และ Artificial Intelligenceมาพัฒนา personal robo-advisor ที่ทำงานบนโทรศัพท์ของคุณ เป้าหมายของเราคือจะสร้างโลกใหม่ของการลงทุนเพื่อนักลงทุนรายย่อยทุกคน',
            googlemaps_link: 'https://goo.gl/maps/Z6xjm1DQ8H22'
          },
          {
            color: '#000000;',
            url: 'http://www.queq.me',
            img_src: 'queq.jpg',
            description: 'QueQ แอพจองคิวที่ไม่ธรรมดา ด้วยแนวคิดของการแก้ปัญหาการใช้ชีวิตของคนเมืองในสถานที่ที่คนเยอะๆ ที่สามารถตอบสนองต่อวิธีการใช้ชีวิตของผู้คนได้อย่างเห็นผลจริงๆ และกำลังขยายความไปสู่การแก้ปัญหาที่ใหญ่ขึ้น ท้าทายขึ้น และทำให้ชีวิตของผู้คนดีขึ้น พร้อมรึยังที่จะมา ท้าทายโลกเก่า วิถีเก่าๆ ร่วมกันกับพวกเรา',
            googlemaps_link: 'https://goo.gl/maps/6TZ1Pm1kxko'
          },
          {
            color: '#71c2e3;',
            url: 'https://nimbl3.com/',
            img_src: 'nimbl3.png',
            description: 'Nimbl3 - a software development studio focused on building products for startups around the world. So far we have helped more than 25 startups, 3 of them have been acquired.',
            googlemaps_link: 'https://goo.gl/maps/aU5wfDvvCnv'
          },
          {
            color: '#dade47;',
            url: 'http://www.creativeme.co.th/',
            img_src: 'creativeme.png',
            description: 'Creative Me ให้การบริการ พัฒนาโปรแกรม และสื่อประเภทดิจิตอลคอนเทนต์ เพื่อวัตถุประสงค์ในการสร้างสรรค์กลยุทธ์ทางการตลาด ให้กับธุรกิจ และองค์กรต่างๆ ผ่านเทคโนโลยีที่ทันสมัยไม่ว่าจะเป็นเว็บไซต์ที่สามารถปรับการแสดงผลได้ตามขนาดของอุปกรณ์ที่เข้าใช้งาน(Responsive Website) และแอพพลิเคชันบนโทรศัพท์มือถือหรือแท๊บเล๊ต(Mobile Application) โดยเราวิจัย และพัฒนาแอพพลิเคชันบนระบบคอมพิวเตอร์ และอุปกรณ์สื่อสารไร้สายด้วยความคิดสร้างสรรค์ที่แปลกใหม่ เพื่อตอบสนองความต้องการขององค์กร และธุรกิจต่างๆ ให้สามารถก้าวทันเทคโนโลยีที่เข้ามาเปลี่ยนแปลงรูปแบบการใช้ชีวิตของกลุ่มผู้บริโภคในปัจจุบัน เปรียบเสมือนว่าเราเป็นผู้ช่วยคิดค้นกลยุทธ์และพัฒนาเครื่องมือให้กับธุรกิจหรือองค์กร เพื่อให้สามารถปรับใช้กับรูปแบบการใช้ชีวิตของกลุ่มผู้บริโภคในปัจจุบัน',
            googlemaps_link: 'https://goo.gl/maps/eqYbV7XPXjT2'
          },
          {
            color: '#cc6b53;',
            url: 'https://www.accrevo.net/  ',
            img_src: 'accrevo.jpg',
            description: 'AccRevo ผู้ให้บริการด้านบัญชีในโลกยุคดิจิทัล ที่จะช่วยให้ผู้ประกอบการมีความสะดวก บริหารจัดการความยุ่งยากด้านเอกสารทางบัญชีได้ง่าย ทุกที่ทุกเวลา ช่วยให้ผู้ประกอบการ รับรู้ผลประกอบการที่ถูกต้องได้เร็วขึ้น',
            googlemaps_link: 'https://goo.gl/maps/zr8rvR1Aip72'
          },
          {
            color: '#070707;',
            url: 'http://www.rabbitstale.com/',
            img_src: 'rabbitdigitalgroup.png',
            description: 'Rabit Digital Group - We believe in something so-called "Effective Creativity". In order to create a ground-breaking digital campaign with the combination of effectiveness and creativity, we put our efforts on originating ideas that generate new solutions for consumers while creating new opportunities for the brand. And most importantly, that idea must “break the norm”. We strive for works that solve problems and change consumers’ behaviors. Our works should not only create talks by just a viral video, but should also generate effectiveness. The conversations will transform into noteworthy case studies, become the reference for the followers and push the industries forward.',
            googlemaps_link: 'https://goo.gl/maps/XqvMM2w8daD2'
          },
          {
            color: '#e58981;',
            url: 'https://www.itaam.co/',
            img_src: 'itaam.png',
            description: 'iTaam No.1 Pet Healthcare Marketplace แหล่งรวมโปรแกรมตรวจสุขภาพและประกันสัตว์เลี้ยงออนไลน์ ที่ช่วยให้คุณดูแลสุขภาพสัตว์เลี้ยงได้อย่างมั่นใจและไม่ประมาท',
            googlemaps_link: 'https://goo.gl/maps/Uop1s4LYVR52'
          },
          {
            color: '#bc4833;',
            url: 'https://shopspot.co.th/',
            img_src: 'shopspot.png',
            description: 'ShopSpot แอพชอปปิ้งที่พัฒนาโดยทีมงานคนไทย ซึ่งได้รับการสนับสนุนจาก VC ชั้นนำในภูมิภาคเป็นเจ้าแรกในไทย รวมถึงเป็นแอพชอปปิ้งสัญชาติไทย ที่ได้รับการ Featured จาก Apple AppStore เคียงข้างแอพชั้นนำระดับโลกมากมาย อาทิเช่น eBay, Amazon, Etsy เป็นต้น',
            googlemaps_link: 'https://goo.gl/maps/ykTR9hEc7N22'
          }
        ]
      }
    }
  }
</script>

<style lang="css" scoped>
h1.title {
  font-family: rsu-bold;
}
.partner {
  width:100%;
  border:0px solid #DFDFDF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 1px;
  /*border-radius: 6px;*/
}
.logo-box {
  height: 200px;
  position: relative;
  background-color: #FFF;
}
div.triangle {
  	width: 0;
    height: 0;
    border-right: 40px solid transparent;
    border-top: 40px solid;
}

div.box-textbox {
  box-sizing:border-box;
  padding:20px;
}

img.center-logos {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
</style>
